In [22]:
# In this exercise we'll load the titanic data (from Project 0)
# And then perform one-hot encoding on the feature names

import numpy as np
import pandas as pd

In [23]:
# Load the dataset
X = pd.read_csv('titanic_data.csv')

In [24]:
X.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [25]:
# Limit to categorical data
X = X.select_dtypes(include=[object])

In [26]:
X.head(3)

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S

In [27]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [15]:
# TODO: Create a LabelEncoder object, which will turn all labels present in
#       in each categorical feature to numbers. For example, the labels ['cat', 'dog', 'fish']
#       might be transformed into [0, 1, 2]

le = LabelEncoder()

In [42]:
# TODO: For each feature in X, apply the LabelEncoder's fit_transform
#       function, which will first learn the labels for the feature (fit)
#       and then change the labels to numbers (transform). 

for feature in X:
      X[feature] = le.fit_transform(X[feature])

In [43]:
X.head(3)

   Name  Sex  Ticket  Cabin  Embarked
0   108    1     523      0         3
1   190    0     596     82         1
2   353    0     669      0         3

In [45]:
# TODO: Create a OneHotEncoder object, which will create a feature for each
#       label present in the data. For example, for a feature 'animal' that had
#       the labels ['cat','dog','fish'], the new features (instead of 'animal') 
#       could be ['animal_cat', 'animal_dog', 'animal_fish']

ohe = OneHotEncoder()

In [47]:
# TODO: Apply the OneHotEncoder's fit_transform function to all of X, which will
#       first learn of all the (now numerical) labels in the data (fit), and then
#       change the data to one-hot encoded entries (transform).

onehotlabels = ohe.fit_transform(X)

In [51]:
onehotlabels.data

array([ 1.,  1.,  1., ...,  1.,  1.,  1.])